
/* Footer */
.footer {
  background: #f2f2f2;
  padding: 30px 1rem;
  transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  font-size: calc(0.8125rem - 0.05rem);
  font-family: "PTSans", sans-serif;
  font-weight: 400;
  border-top: 1px solid #e0e0ef;
}

.footer a {
  color: #04B76B;
  font-size: inherit;
}

@media (max-width: 991px) {
  .footer {
    margin-left: 0;
    width: 100%;
  }
}